.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6F8ABF;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #C9DBF2;
}